<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons by-nc 4.0 Lizenz</a>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li>
            <a href="#impressum" onclick="$('#impressum').show();">Impressum & Datenschutz</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
