<section id="mitmachen" class="bg-light-gray">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="margin-bottom: 30px">
          Mitmachen
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 text-right">
        <h3 class="section-subheading-with-icon">
          <strong>Sängerinnen und Sänger gesucht</strong>
          <br>
          <span class="fa-stack fa-4x" style="margin-top: 10px; width: 110px">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
          </span>
        </h3>
      </div>

      <div class="col-md-6" style="padding-top: 18px">
        <p>
          Wir streben eine dreifache Besetzung jeder Stimme an (Sopran, Alt, Tenor und Bass).
          Chorinteressierte sind herzlich willkommen. Chorerfahrung ist ein willkommenes Plus.
        </p>
        <p>
          Einfach trauen und bei <a class="page-scroll" href="#team">Franziska Bopp melden</a>.<br>
          Bei uns ist kein Vorsingen erforderlich.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 text-right">
        <h3 class="section-subheading-with-icon">
          <strong>Probentermine und -ort</strong>
          <br>
          <span class="fa-stack fa-4x" style="margin-top: 10px; width: 110px">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
          </span>
        </h3>
      </div>

      <div class="col-md-6" style="padding-top: 18px">
        <p>
          Wir proben jeden zweiten Dienstag, von 20:30 bis 22:00 Uhr,
          Friedrichstraße 1 am Mehringplatz, 10969 Berlin.
          <br>
          Ab 2017 proben wir wöchentlich.
          <br>
          Zwei bis drei Mal im Jahr treten wir auf.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 text-right">
        <h3 class="section-subheading-with-icon">
          <strong>Unser Repertoire</strong>
          <br>
          <span class="fa-stack fa-4x" style="margin-top: 10px; width: 110px">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-music fa-stack-1x fa-inverse"></i>
          </span>
        </h3>
      </div>

      <div class="col-md-6" style="padding-top: 18px">
        <p>
          Jeder von uns bringt Vorschläge ein und wenn sie gefallen, werden sie aufgenommen.
          Zur Zeit singen wir …
        </p>
        <ul>
          <li>And So It Goes
          <li>Au Coeur de la Nuit
          <li>Bei mir bist du schön
          <li>Come in And Stay A While
          <li>Gabriellas Song
          <li>Hallelujah
          <li>Happy Together
          <li>If You Don't Know Me By Now
          <li>Only you
          <li>The Lord bless you and keep you
          <li>Uptown Girl
        </ul>
      </div>
    </div>

  </div>
</section>
