<!-- Team Section -->
<section id="team" class="bg-light-gray">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">

        <h2 class="section-heading" style="margin-bottom: 30px">
          Chorleitung & Kontakt
        </h2>
        <!--<h3 class="section-subheading text-muted"></h3>-->

        <div class="team-member">
          <img src="img/franziska-bopp.jpg" class="img-responsive img-circle" alt="Franziska Bopp">
          <h4>Franziska Bopp</h4>
          <p class="text-muted">Chorleiterin</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="http://www.franziskabopp.de"
                data-toggle="tooltip"
                data-placement="bottom"
                title="www.franziskabopp.de">
                <i class="fa fa-globe"></i>
              </a>
            </li>
            <li>
              <a href="mailto:franzi.bopp@gmx.de"
                data-toggle="tooltip"
                data-placement="bottom"
                title="franzi.bopp@gmx.de">
                <i class="fa fa-envelope-o"></i>
              </a>
            </li>
            <li>
              <a href="tel:015254218951"
                data-toggle="tooltip"
                data-placement="bottom"
                title="0152 54 21 89 51">
                <i class="fa fa-phone"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/Franziska-Bopp-Fansite-310029118316/"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li> 
          </ul>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">
          Franziska Bopp ist seit 2001 als Chorleiterin tätig.<br>
          Derzeit leitet sie fünf Chöre in Berlin.<br>
          Sie bietet eine fundierte Stimmbildung sowie eine solide Klavierbegleitung.
        </p>
      </div>
    </div>

  </div>
</section>
