<section id="termine">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          Auftritte
        </h2>
        <h3 class="section-subheading text-muted">
          Wir haben circa zwei Auftritte pro Jahr.<br>
          Details zu allen Terminen findest Du auch 
          <a href="https://www.facebook.com/Franziska-Bopp-Fansite-310029118316/">auf der Facebook-Seite von Franziska</a>.
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">

          {% for termin in site.data.termine %}
          <li class="{% cycle '', 'timeline-inverted' %}">
            <div class="timeline-image">
              <a href="https://www.google.com/maps/place/{{ termin.location | replace: ' ', '+' | strip_newlines | escape }}/">
                <img class="img-circle img-responsive"
                  src="http://maps.googleapis.com/maps/api/staticmap?center={{ termin.location | replace: ' ', '+' | strip_newlines | escape }}&zoom=13&scale=2&size=156x156&maptype=roadmap&key={{ site.google_static_map_key }}&format=jpg&visual_refresh=true&markers=size:mid%7Ccolor:0x{{ site.data.template.color.primary }}%7Clabel:%7C{{ termin.location | replace: ' ', '+' | strip_newlines | escape }}"
                  alt="Karte">
              </a>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{ termin.heading }}</h4>
                <!--<h4 class="subheading"></h4>-->
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  {{ termin.body }}<br>
                  <a href="https://www.google.com/maps/dir//{{ termin.location | replace: ' ', '+' | strip_newlines | escape }}/">Anfahrt</a>
                </p>
              </div>
            </div>
          </li>
          {% endfor %}

          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>
                Wir <br>
                freuen uns <br>
                auf Dich!
              </h4>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>
