<section id="tubez">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="margin-bottom: 30px">
          Geschichte
        </h2>
        <!--<h3 class="section-subheading text-muted"></h3>-->
      </div>
    </div>
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-justify">
        
        <p class="large text-muted">
          <img src="img/photo_square_buberow1_low.jpg" class="pull-left img-responsive img-circle" style="padding:20px;" alt="Chor Wochenende in Buberow">
          Wir sind die TubeZ: Ein gemischter Chor, der sich ursprünglich im Jahr 2008 als Mitarbeitendenchor von
          Mercedes Benz gegründet und ab 2014 als firmenunabhängiger Chor für neue Mitglieder geöffnet hat.
          <br />
          Derzeit umfasst unser Ensemble 12 Mitglieder - 8 Frauen und 4 Männer. Wir proben wöchentlich im Kiez am
          Mehringplatz und zweimal im Jahr während eines gemeinsamen Probenwochenendes. Wir sind offen für viele Genres
          von Klassik bis Pop und unser Repertoire umfasst Werke aus der Zeit des Barocks bis hin zu zeitgenössischer
          Musik. So gestalten sich unsere derzeitigen Proben beispielsweise durch die Stücke „Lux Aeterna“ von Edward
          Elgar, „Lockung“ von Fanny Hensel, „Hide and Seek“ von Imogen Heap oder „Lonesome road“ sehr
          abwechslungsreich.
          <br />
          <img src="img/photo_square_buberow2_low.jpg" class="pull-right img-responsive img-square img-circle" style="padding:20px;" alt="Chor Wochenende in Buberow">
          Unser Können und nicht zuletzt unsere Freude am Singen teilen wir gerne bei Auftritten in Berlin und im
          Umland. Das ist uns beim Berliner Chortreff 2022 offensichtlich besonders gut gelungen, da wir mit einem der
          drei Sonderpreise gewürdigt wurden. Weitere Auftritte gaben wir unter anderem bei „Das Ardenne und die Chöre“
          in Hohenschönhausen im September 2021, beim Open Air Konzert des Chorverbands Berlin im Oktober 2021, in Form
          einer SingBar in der Bauhütte Kreuzberg im Oktober 2021, bei „Chöre im Körnerpark“ im September 2022 sowie in
          der schönen kleinen Dorfkirche im Brandenburgischen Buberow im November 2022.
          <!-- <br/> -->
          <!-- <a href="https://www.the-tubez.de/" target="_blank">www.the-tubez.de</a> -->
          
        </p>
        
        <p class="large text-muted">
          <img src="img/photo_square_franziska_low.jpg" class="pull-left img-responsive img-square img-circle" style="padding:20px;" alt="Chor Wochenende in Buberow">
          Unsere Chorleiterin Franziska Bopp leitet die TubeZ seit der Gründung mit viel Engagement, Gelassenheit und
          Begeisterung für die Musik, die ansteckend sind. Sie studierte Schulmusik mit den Fächern Klavier und Gesang
          an der Musikhochschule Karlsruhe. Während eines Auslandsaufenthaltes in Italien (Genua) spezialisierte sie
          sich auf Operngesang.
          Als Chorleiterin ist Franziska seit 2001 tätig und leitet derzeit fünf Chöre in Berlin. Die Chormitglieder
          profitieren von ihrer fundierten Stimmbildung sowie soliden Klavierbegleitung.
          <br />
  
          Zudem bietet sie Einzelcoaching in Kreuzberg an. Hier arbeitet sie mit einer Methode, die ihren Ursprung im
          Belcanto hat und die sie selbst über die Jahre in eine eigene Richtung entwickelt hat. Mit viel Körperarbeit,
          Atemtraining und Spaß werden Lieder und Songs aller Stilrichtungen erarbeitet.
          Die Mitglieder ihrer Chöre, ihre Einzelschülerinnen und -schüler und alle, die Freude an der Musik haben oder
          sich erst einmal darin ausprobieren möchten, lädt Franziska regelmäßig zum gemeinsamen Singen in ihre SingBar
          Berlin ein.
          <br />
          
          Neben ihrer Tätigkeit als Chorleiterin und Einzelcoach verfolgt Franziska unterschiedlichste Projekte: Als
          Solistin (Sopran) kann man sie in "Opera to go" hören, kabarettistisch arbeitet sie zusammen mit den Comedians
          Michael Genähr und Mia Pittroff, auf dem Cello begleitet sie Joachim Król bei Lesungen, und in dem Duo
          Bopp'n'Beck interpretiert sie mit David Beck Songs aus den Genres Swing, Orient und den aktuellen Charts auf
          eigene Weise und mit außergewöhnlichen Instrumenten (u.a. Oud, Cello, Nasenflöte).

          <!-- <a href="https://franziskabopp.com/">https://franziskabopp.com/  </a>  -->

        </p>
      </div>
    </div>

  </div>
</section>